@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.plebai-chat-container {
  font-family: Montserrat, sans-serif;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 50px;
  right: 50px;
  background-color: white;
  border-radius: 12px;
  height: 480px;
  width: 320px;
  visibility: hidden;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
}

.plebai-chat-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px 12px 0 0;
  padding: 6px;
  flex-direction: row;
  background-color: #ffde6e;
  color: black;
  height: 10%;
}

.plebai-chat-inner {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  height: 70%;
  overflow-y: scroll;
  color: black;
  font-size: smaller;
}

.plebai-chat-textcontainer {
  display: flex;
  height: 20%;
  width: 100%;
  background-color: lightgray;
}

.plebai-chat-close {
  background: none;
  border: none;
}

.plebai-chat-input {
  margin: 12px;
  flex-grow: 1;
  border-radius: 12px;
  padding: 12px;
  background-color: white;
  border: none;
  color: black;
}

.plebai-chat-input:focus {
  outline: none !important;
  border-color: none;
  box-shadow: none;
}

.plebai-chat-submit {
  font-family: Montserrat, sans-serif;
  min-width: 50px;
  border: none;
  background-color: #ffde6e;
  color: black;
}

.plebai-chat-poweredby {
  margin: 0;
  text-align: center;
  background: none;
  background-color: #f9fafb;
  border-radius: 0 0 12px 12px;
  font-size: smaller;
  padding: 4px 0 4px 0;
}

.plebai-chat-poweredby a {
  color: #faa200;
}

.plebai-chat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  bottom: 50px;
  right: 50px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: none;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
}

.agentPic {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.plebai-chat-agentmessage {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  color: black;
  padding: 5px;
  background-color: #fff4b0;
  border-radius: 12px;
}

.plebai-chat-usermessage {
  max-width: 80%;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  text-align: right;
  padding: 5px;
  color: black;
  background-color: lightgray;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .plebai-chat-container {
    inset: 0px;
    height: unset;
    width: unset;
    margin: 16px;
  }
}
