.plebai-chat-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 50px;
  right: 50px;
  background-color: white;
  border-radius: 12px;
  height: 480px;
  width: 320px;
  visibility: hidden;
}

.plebai-chat-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px 12px 0 0;
  padding: 6px;
  flex-direction: row;
  background-color: #0798f2;
  height: 10%;
}

.plebai-chat-inner {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  height: 70%;
  overflow-y: scroll;
  color: black;
}

.plebai-chat-textcontainer {
  display: flex;
  height: 20%;
  width: 100%;
  border-radius: 0 0 12px 12px;
  background-color: lightgray;
}

.plebai-chat-close {
  background: none;
  border: none;
}

.plebai-chat-input {
  margin: 12px;
  flex-grow: 1;
  border-radius: 12px;
  padding: 12px;
  background-color: white;
  border: none;
  color: black;
}

.plebai-chat-input:focus {
  outline: none !important;
  border-color: none;
  box-shadow: none;
}

.plebai-chat-submit {
  border: none;
  background-color: #0798f2;
  color: white;
  border-radius: 0 0 12px 0;
}

.plebai-chat-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
}

.agentPic {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.plebai-chat-agentmessage {
  width: 80%;
  display: flex;
  flex-direction: row;
  color: black;
  padding: 5px;
  background-color: grey;
  border-radius: 12px;
}

.plebai-chat-usermessage {
  width: 80%;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  text-align: right;
  padding: 5px;
  color: black;
  background-color: lightgray;
  border-radius: 12px;
}
